---
import { getCollection } from "astro:content";
import BasicLayout from "../layouts/basic-layout.astro";

const allBlogPosts = await getCollection("blog");
---

<BasicLayout title="yorganci.dev">
	<h1>Blog</h1>
	<ul>
		{allBlogPosts.map(({ data: { title } }) => <li>{title}</li>)}
	</ul>
</BasicLayout>
